{% extends 'base.html.twig' %}

{% block title 'Modifier mon mot de passe | ' ~ parent() %}

{% block carousel %}<header></header>{% endblock %}

{% block body %}


<h1 class="mb-5">{{ title }}</h1>
- <a href="{{ path('account') }}">Retour sur mon compte</a>
<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form) }}

<style>
    h1 {
        margin-top: 450px;
        font-size: 45px;
    }

    a {
        color: #0b93e1;
    }
    a:hover {
        color: #569A24;
    }
</style>
{% endblock %}